<header class='header-style'>
  <div class ='htitle'>books&nbsp;<img src ='assets/images/iconlogo.png'>Bay</div>
  <div class='header-content'>  
    <a routerLink="/home" class='header-text'>HOME</a>
    <a routerLink="/about" class='header-text'>ABOUT</a>
    <a routerLink="/addtocart" class='header-text'>CART</a>
    <a routerLink="/login" class='header-text'>LOGIN</a>    
  </div>
</header>

<footer class='footer-style'>
  <p class='footer-content-text'>follow us on :</p>
<div class='footer-content'>
  <a href='https://www.facebook.com/search/str/books/keywords_search'><img src='assets/images/iconFb.png' class='footer-icon'></a>
  <a href='https://www.instagram.com/explore/tags/bookstagram/'><img src='assets/images/iconInsta.png' class='footer-icon'></a>
  <a href='https://twitter.com/search?q=books&src=typd'><img src='assets/images/iconTwitter.png' class='footer-icon'></a>
  <a href='https://www.tumblr.com/search/books'><img src='assets/images/icontumblr.png' class='footer-icon'></a>
  </div>
</footer>
<router-outlet></router-outlet>
