<form  class = 'form-search'>
    <h2 class='head-search'>Search</h2>
    <input type='text' placeholder='search your books' class = 'text-search'>
    <a href='https://www.google.com/' class='search-link'>search</a>
</form>

<img src='assets/images/bookImg1.jpg' class='mainImg'>

<p class ='slogan' >Whenever you read a good book, somewhere in the world <br> 
    a door opens to allow in more light.</p>

<p class = 'slogan2'>A book is a dream that you hold in your hand.</p>

<p class = 'slogan3'>The only important thing in a book is the meaning <br>
     that it has for you.</p>

<div class="bookdiv">

</div>    

<h3 class="divhead">Legendary Collection</h3>     

 <a routerLink="/addtocart"  class='addto-link'><img src="assets/images/bookImg3.jpg" class="bookpos1"></a>
 <a routerLink="/addtocart"  class='addto-link'><img src="assets/images/bookImg4.jpg" class="bookpos2"></a>
 <a routerLink="/addtocart"  class='addto-link'><img src="assets/images/bookImg5.jpg" class="bookpos3"></a>
 <a routerLink="/addtocart"  class='addto-link'><img src="assets/images/bookImg6.jpg" class="bookpos4"></a>
 <a routerLink="/addtocart"  class='addto-link'><img src="assets/images/bookImg7.jpg" class="bookpos5"></a>
 <a routerLink="/addtocart"  class='addto-link'><img src="assets/images/bookImg8.jpg" class="bookpos6"></a>   
 <a routerLink="/addtocart"  class='addto-link'><img src="assets/images/bookImg9.jpg" class="bookpos7"></a>  
 <a routerLink="/addtocart"  class='addto-link'><img src="assets/images/bookImg10.jpg" class="bookpos8"></a>  


 
 
 <router-outlet></router-outlet> 









     