.form-search
{
    position: fixed;
    top : 65px;
    left : 2.5%;
    z-index: 1;

}
.head-search
{
    color: white;
}
.text-search
{
    width : 280px;
    height: 30px;
    border-color: grey;
    border-style: none;
}
.search-link
{
    font-size: 20px;
    text-decoration : none;
    border : solid;
    border-radius: 5px;
    border-width: 2px;
    color : white;
    position: absolute;
    left : 300px;
    top:68px;
    padding: 2px;
}
::placeholder
{
    position: relative;
    left:20px;
}
.mainImg
{
    position: absolute;
    top: 60px;
    left: 0%;
    width: 100%;
    height: 700px;
    z-index: -2;
}
.slogan
{
    position: fixed;
    font-size: 30px;
    top : 190px;
    left : 2.5%;
    z-index: 1;
    color:white;
    opacity: 0.8;
    font-style: italic;
}
.slogan2
{
    position: fixed;
    font-size: 30px;
    top : 300px;
    left : 2.5%;
    z-index: 1;
    color:white;
    opacity: 0.9;
    font-style: italic;
}
.slogan3
{
    position: fixed;
    font-size: 30px;
    top : 400px;
    left : 2.5%;
    z-index: 1;
    color:white;
    opacity: 0.9;
    font-style: italic;
}
.bookdiv
{
position: fixed;
top : 90px;
left : 735px;
background-color: black;
border-radius: 20px;
width : 600px;
height: 460px;
z-index : 3;
opacity : 0.2;
}
.bookpos1
{
    position: fixed ;
    top : 170px;
    left: 780px;
    width : 120px;
    height: 170px;
    z-index: 5;
    
}
.bookpos2
{
    position: fixed ;
    top : 360px;
    left: 780px;
    width : 120px;
    height: 170px;
    z-index: 5;
    
}
.bookpos3
{
    position: fixed ;
    top : 170px;
    left: 920px;
    width : 120px;
    height: 170px;
    z-index: 5;
    
}
.bookpos4
{
    position: fixed ;
    top : 360px;
    left: 920px;
    width : 120px;
    height: 170px;
    z-index: 5;
    
}
.bookpos5
{
    position: fixed ;
    top : 170px;
    left: 1060px;
    width : 120px;
    height: 170px;
    z-index: 5;
    
}
.bookpos6
{
    position: fixed ;
    top : 360px;
    left: 1060px;
    width : 120px;
    height: 170px;
    z-index: 5;
    
}
.bookpos7
{
    position: fixed ;
    top : 170px;
    left: 1200px;
    width : 120px;
    height: 170px;
    z-index: 5;
    
}
.bookpos8
{
    position: fixed ;
    top : 360px;
    left: 1200px;
    width : 120px;
    height: 170px;
    z-index: 5;
    
}
.divhead
{   
    position: fixed;
    top : 80px;
    left: 900px;
    font-size : 30px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    opacity: 0.8;
}
